NODE_ENV=
DATABASE_URL=

PORT=
FRONTEND_URL=
BACKEND_PUBLIC_URL=
APP_RESET_PASSWORD_URL=
JWT_SECRET=
ACCESS_TOKEN_TTL=
REFRESH_TOKEN_TTL=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
YOUTUBE_TOKEN_ENCRYPTION_KEY=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SES_FROM_EMAIL=
YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_REDIRECT_URI=
OPENAI_API_KEY=
